@function lightenbutton($buttoncolor){
  @return lighten($buttoncolor, $amount: 15%);
}
  
.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition: ease-in 0.3s;
  &:hover {
     background-color: lightenbutton($color-light-green);
    }
  }
  
  .default {
    background-color: $color-light-green;
  }

  .error {
    background-color: $color-red;
    &:hover {
     background-color: lightenbutton($color-red);
    }
  }
  
  .info {
    background-color: $color-info;
    &:hover {
      background-color: lightenbutton($color-info);
    }
  }
  
  .success {
    background-color: $color-success;
    &:hover {
      background-color: lightenbutton($color-success);
    }
  }
  
  .warning {
    background-color: $color-warning;
    &:hover {
      background-color: lightenbutton($color-warning);
    }
  }
  